<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlhdPzefW71rGHamZY0TqtckDL0-Fuy28</string>
	<key>GCM_SENDER_ID</key>
	<string>279049382753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riverpodTodo</string>
	<key>PROJECT_ID</key>
	<string>todo-app2-7ef1a</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app2-7ef1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279049382753:ios:9c6a95ff4bacb39a0eb320</string>
</dict>
</plist>